<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Website{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'post/styles.css' %}">
    </head>

    <body>
    <header>
        <div class="user">
            {% if user.is_authenticated %}
                <p>Hola {{user.username|capfirst}}, Bienvenido!
                    <br>
                    <a href="{% url 'logout' %}">Log out</a>
                </p>
            {% else %}
                <p> Usted no está loggeado.
                    <br>
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                </p>
                <p>
                    <a href="{% url 'registro' %}">Registrarse</a>
                </p>
            {% endif %}
        </div>

        <div class="navbar">
            {% include 'navbar.html' %}
        </div>

        <h1>{% block header %}Welcome to My Website{% endblock %}</h1>
    </header>
    
    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 - Blog de Publicaciones - gecare@udc.edu.ar</p>
    </footer>

    </body>
</html>