{% extends "base.html" %}

{% block title %}Publicaciones - My Website{% endblock %}

{% block header %}
    <h1 style="margin-top: 50px; margin-bottom: 50px;">Publiaciones</h1>
{% endblock %}

{% block content %}
        {% for publicacion in object_list %}
            <ul>
                <li> {{ publicacion.titulo }}</li>
                <li> {{ publicacion.fecha_de_publicacion }}</li>
                <li> {{ publicacion.autor}} </li>
                <form method="get" action="{% url 'detalle_publicacion' publicacion.pk %}">
                    {% csrf_token %}
                    <button type="submit">Ver Detalles</button>
                </form>
            </ul>
        {% endfor %}
{% endblock %}