{% extends "base.html" %}

{% block title %}Publicaciones - My Website{% endblock %}

{% block header %}
    <h1 style="margin-top: 50px; margin-bottom: 50px;">Publicaciones</h1>
{% endblock %}

{% block content %}
    {% if object_list %}
        {% for publicacion in object_list %}
            <ul class="lista-publicaciones">
                <li><h3> {{ publicacion.titulo|capfirst }} </h3></li>
                <li style="font-weight: bold; color: rgb(58, 58, 58);"> {{ publicacion.fecha_de_publicacion }}</li>
                <form method="get" action="{% url 'detalle_publicacion' publicacion.pk %}">
                    {% csrf_token %}
                    <button class="boton" type="submit">Ver Detalles</button>
                </form>
            </ul>
        {% endfor %}
    {% else %}
        <p>No hay publicaciones para mostrar.</p>
    {% endif %}
{% endblock %}