<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'post/styles.css' %}">
</head>
<body>
    <div class="navbar">
        {% include 'navbar.html' %}
    </div>

    <h1 style="margin: 40px;">Registro de Usuario</h1>

    <div style="text-align: start;" class="fondo-formulario">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p style="text-align: center;">
                <button class="boton" type="submit">Registrarse</button>
            </p>
        </form>
            
        <p style="text-align: center;">
            <br><br>
            Si ya se ha registrado <a href="{% url 'login' %}">Iniciar Sesión</a>
        </p>
    </div>


    <br><br>
    <footer>
        <p>&copy; 2024 - Blog de Publicaciones - gecare@udc.edu.ar</p>
    </footer>
</body>
</html>