<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'post/styles.css' %}">
</head>
<body>
    <div class="navbar">
        {% include 'navbar.html' %}
    </div>

    <h2>Registro de Usuario</h2>

    <div style="text-align: start;"">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="boton" type="submit">Registrarse</button>
        </form>
        <p>
            Si ya se ha registrado <a href="{% url 'login' %}">Iniciar Sesión</a>
        </p>
    </div>
</body>
</html>