ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: large;
    font-weight: 500;
}

nav ul li {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul a {
    color: #FFF;
}

.navbar {
    display: flex;
    justify-content: center;
}

.user{
    text-align: center;
    margin-left: 15px;
}

header a {
    color: #003366;
}

body {
    text-align: center;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #000;
    margin-top: 5px;
    margin-bottom: 25px;
}

footer {
    background-color: rgb(68, 68, 68);
    margin-bottom: 0;
    margin-top: 25px;
    text-align: center;
    padding: 2px;
    color: #FFF;
}

.detalle-publicacion {
    color: #000;
    font-size: large;
    font-style: italic;
    margin: 50px;
}

form label {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

form input[type="text"]{
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

form input[type="password"]{
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: none;
    text-align: center;
    margin-bottom: 15px;
}

form textarea {
    padding: 5px;
    width: 300px;
    box-sizing: border-box;
    resize: none;
    border-radius: 20px;
}

.boton {
    color: #FFF; 
    font-weight: bold; 
    width: 300px; 
    height: 30px; 
    border-radius: 15px; 
    border: none; 
    text-align: center; 
    font-size: 17px; 
    cursor: pointer; 
    background-color: #003366;
    margin: 15px;
}

.boton:hover {
    background-color: #004c97;
}

.boton-eliminar {
    color: #FFF; 
    font-weight: bold; 
    width: 300px; 
    height: 30px; 
    border-radius: 15px; 
    border: none; 
    text-align: center; 
    font-size: 17px; 
    cursor: pointer; 
    background-color: #c70000;
    margin: 15px;
}

.boton-eliminar:hover {
    background-color: #e60000;
}

.lista-publicaciones {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: large;
    font-weight: 400;
}